body {
  padding-top: 70px;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('nyc.jpg');
  background-size: cover;
  background-position: center;
}
